<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Starscream- Home</title>
  <!--<link rel="icon" href="images/favicon.gif" type="image/x-icon"/> -->
  <%= image_tag "bg.png", size: "2000x50" ,alt:"First Green" %>
  <title>Untitled</title>
  <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'slider', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<header>
  <div class="container">
    <!--start title-->
    <h1 class="fontface" id="title"><span class="green">S</span><%= link_to"tarscream", star_path , :class => "container"  %> </h1>

    <!--end title-->
    <!--start menu-->
    <%= render :partial => 'shared/nav' %>
  </div>

  <!--end menu-->
  <!--end header-->
</header>
<body>

<!-- end pixels -->



<!--start header-->
<div id="container">
  <!--start intro-->

  <section id="intro">
    <!-- Slider -->

    <!-- /Slider -->


  </section>
  <!--end intro-->



  <div class="quote">

    <section class="welcome">
      <h2 class="fontface"> <span class="green">Welcome</span>.This is our Website.Enjoy!</h2>





  </div>
  <!--end holder-->


  <!--start holder-->

  <div class="content1">

    <section class="news">
      <h3 class="fontface"> News</h3>
      <ul>
        <li><span class="green">10.07.2011</span> - Lorem ipsum dolor sit amet.</li>
        <li><span class="green">10.10.2011</span> - Aliquam tincidunt mauris eu risus.</li>
        <li><span class="green">10.13.2011 </span> - Vestibulum auctor dapibus neque.</li>
      </ul>


    </section>


    <section class="subcontentmed">
      <h2 class="fontface"> Example Title</h2>
      <%= yield %>

<pre><code>
  header h1 a {
  display: block;
  width: 300px;
  height: 80px;
  }
</code></pre>
      <a href=""><span class="button">Read more</span></a>
      <br><br><br><br>
      <h2 class="fontface"> Example Forms</h2>
      <form action="#" method="post">
        <div>
          <label for="name">Text Input:</label>
          <input type="text" name="name" id="name" value="" tabindex="1" />
        </div>

        <div>
          <h4>Radio Button Choice</h4>

          <label for="radio-choice-1">Choice 1</label>
          <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />

          <label for="radio-choice-2">Choice 2</label>
          <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />
        </div>

        <div>
          <label for="select-choice">Select Dropdown Choice:</label>
          <select name="select-choice" id="select-choice">
            <option value="Choice 1">Choice 1</option>
            <option value="Choice 2">Choice 2</option>
            <option value="Choice 3">Choice 3</option>
          </select>
        </div>

        <div>
          <label for="textarea">Textarea:</label>
          <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
        </div>

        <div>
          <label for="checkbox">Checkbox:</label>
          <input type="checkbox" name="checkbox" id="checkbox" />
        </div>

        <div>
          <input type="submit" value="Submit" />
        </div>
      </form>
    </section>
  </div>



</div>





<!--start footer-->
<footer>
  <div class="container">
    <br><br>
    <p> © 2015 Starscream Inc</p>
  </div>

</footer>
<!--end footer--></div>
<!-- Free template distributed by http://freehtml5templates.com -->
</body></html>